# -*- mode: gitignore; -*-
!.*

*~
\#*\#
*.kate-swp
.\#*

[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

vendor/
extensions/
build/logs/
build/release/build-*

composer.phar
composer.lock

.idea/
.smw.json
.phpunit.result.cache

composer
installer
.env
.envrc
conf
expected

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db
data/config/db-primary-keys.php
res/smw/tokens.less
src/DataValues/KeywordValue.php
src/Exporter/ResourceBuilders/KeywordPropertyValueResourceBuilder.php
src/Property/Annotators/SortKeyPropertyAnnotator.php
src/Query/Parser/Tokenizer.php
src/Query/QueryToken.php
src/Utils/Tokenizer.php
tests/phpunit/Integration/SemanticDataSortKeyUpdateDBIntegrationTest.php
tests/phpunit/Structure/ConfigPreloadTableListPrimaryKeysCompleteTest.php
tests/phpunit/Structure/I18nMsgKeyIntegrityTest.php
tests/phpunit/Utils/TokenizerTest.php
data/config/db-primary-keys.php
res/smw/tokens.less
src/DataValues/KeywordValue.php
src/Exporter/ResourceBuilders/KeywordPropertyValueResourceBuilder.php
src/Property/Annotators/SortKeyPropertyAnnotator.php
src/Query/Parser/Tokenizer.php
src/Query/QueryToken.php
src/Utils/Tokenizer.php
tests/phpunit/Integration/SemanticDataSortKeyUpdateDBIntegrationTest.php
tests/phpunit/Structure/ConfigPreloadTableListPrimaryKeysCompleteTest.php
tests/phpunit/Structure/I18nMsgKeyIntegrityTest.php
tests/phpunit/Utils/TokenizerTest.php
