language: php

env:
  - THENEEDFORTHIS=FAIL

matrix:
  include:
    - env: DBTYPE=mysql; MW=master; TYPE=coverage
      php: 5.3
    - env: DBTYPE=sqlite; MW=master; TYPE=composer
      php: 5.3
    - env: DBTYPE=mysql; MW=1.19.0; TYPE=relbuild
      php: 5.4
    - env: DBTYPE=sqlite; MW=1.19.0
      php: 5.5
    - env: DBTYPE=postgres; MW=1.19.0
      php: 5.4
  exclude:
    - env: THENEEDFORTHIS=FAIL
  allow_failures:
    - env: DBTYPE=mysql; MW=1.19.0; TYPE=relbuild

before_script: bash ./build/travis/before_script.sh

script: bash ./build/travis/script.sh

after_success: bash ./build/travis/after_success.sh

notifications:
  irc:
    channels:
      - "chat.freenode.net#semantic-mediawiki"
    on_success: never
    on_failure: always
