<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" beStrictAboutTestsThatDoNotTestAnything="true" printerClass="SMW\Tests\PHPUnitResultPrinter" printerFile="tests/phpunit/PHPUnitResultPrinter.php" stderr="true" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
      <directory suffix=".php">maintenance</directory>
    </include>
  </coverage>
  <listeners>
    <listener file="tests/phpunit/ExecutionTimeTestListener.php" class="SMW\Tests\ExecutionTimeTestListener">
      <arguments>
        <boolean>true</boolean>
        <integer>10</integer>
      </arguments>
    </listener>
  </listeners>
  <testsuites>
    <testsuite name="semantic-mediawiki-check">
      <file>tests/phpunit/Structure/PHPUnitCheckRunnerTest.php</file>
    </testsuite>
    <testsuite name="semantic-mediawiki-unit">
      <directory>tests/phpunit/Unit</directory>
      <directory>tests/phpunit/Utils</directory>
    </testsuite>
    <testsuite name="semantic-mediawiki-integration">
      <directory>tests/phpunit/Integration</directory>
      <exclude>tests/phpunit/Integration/MediaWiki/Import</exclude>
    </testsuite>
    <testsuite name="semantic-mediawiki-import">
      <directory>tests/phpunit/Integration/MediaWiki/Import</directory>
      <exclude>tests/phpunit/Integration/MediaWiki/Import/Maintenance/DumpRdfMaintenanceTest.php</exclude>
    </testsuite>
    <testsuite name="semantic-mediawiki-structure">
      <directory>tests/phpunit/Structure</directory>
      <exclude>tests/phpunit/Structure/PHPUnitCheckRunnerTest.php</exclude>
    </testsuite>
    <testsuite name="semantic-mediawiki-benchmark">
      <directory>tests/phpunit/Benchmark</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>semantic-mediawiki-benchmark</group>
    </exclude>
  </groups>
  <php>
    <var name="smwgMainCacheType" value="hash"/>
    <var name="wgUseFileCache" value="false"/>
    <var name="smwgEntityCollation" value="identity"/>
    <var name="smwgFieldTypeFeatures" value="false"/>
    <var name="smwgCreateProtectionRight" value="false"/>
    <var name="smwgSparqlDefaultGraph" value="http://example.org/phpunit-testrun"/>
    <var name="smwgSparqlQFeatures" value="false"/>
    <var name="smwgElasticsearchProfile" value="false"/>
    <var name="smwgEnabledDeferredUpdate" value="false"/>
    <var name="smwgImportReqVersion" value="false"/>
    <var name="smwgEnabledFulltextSearch" value="true"/>
    <var name="smwgEnabledQueryDependencyLinksStore" value="true"/>
    <var name="smwgQueryResultCacheType" value="hash"/>
    <var name="benchmarkPageCopyCount" value="1000"/>
    <var name="benchmarkPageEditRepetitionCount" value="50"/>
  </php>
</phpunit>
