<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true">
    <testsuites>
        <testsuite name="SemanticMediaWiki">
            <directory>tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">includes</directory>
        </whitelist>
    </filter>
</phpunit>
