[project]
	description = Semantic MediaWiki is a project for extending MediaWiki with 
[access "refs/*"]
	owner = group user/Jeroen De Dauw (JeroenDeDauw)
[access "refs/for/refs/*"]
	read = group user/Jeroen De Dauw (JeroenDeDauw)
	push = group user/Jeroen De Dauw (JeroenDeDauw)
	label-Code-Review = -2..+2 group user/Jeroen De Dauw (JeroenDeDauw)
	label-Verified = -1..+1 group user/Jeroen De Dauw (JeroenDeDauw)
	rebase = group user/Jeroen De Dauw (JeroenDeDauw)
	removeReviewer = group user/Jeroen De Dauw (JeroenDeDauw)
	submit = group user/Jeroen De Dauw (JeroenDeDauw)
[access "refs/heads/*"]
	read = group user/Jeroen De Dauw (JeroenDeDauw)
	create = group user/Jeroen De Dauw (JeroenDeDauw)
	push = +force group user/Jeroen De Dauw (JeroenDeDauw)
	pushMerge = group user/Jeroen De Dauw (JeroenDeDauw)
[access "refs/tags/*"]
	push = +force group user/Jeroen De Dauw (JeroenDeDauw)
	pushTag = group user/Jeroen De Dauw (JeroenDeDauw)
	pushSignedTag = group user/Jeroen De Dauw (JeroenDeDauw)
