{{!
  EntityExaminer indicator bottom sticky container.

  Required data:
  - html-content: string (raw) - Pre-rendered content HTML
}}
<div style="position: sticky; bottom: 0px;text-align: justify;background: #fff; padding-bottom: 20px;">{{{html-content}}}</div>
