{{!
  EntityExaminer indicator comment.

  Required data:
  - html-comment: string (raw) - Comment HTML; comes from Message::PARSE and may contain markup
}}
<div style="text-align: justify;"><span style="font-size:12px;">{{{html-comment}}}</span></div>
