{{!
  EntityExaminer constraint sticky top container.

  Required data:
  - html-content: string (raw) - Pre-rendered content HTML
}}
<div style="position: sticky; top: 0px;text-align: justify;background: #fff; padding-top: 10px;">{{{html-content}}}</div>
