{{!
  EntityExaminer indicator text block.

  Required data:
  - html-text: string (raw) - Text body HTML; may contain markup
}}
<div style="padding-top:10px;text-align: justify;">{{{html-text}}}</div>
