{{!
  Paragraph block for the SetupCheck error page.

  Required data:
  - data-template: string (escaped) - template marker, must survive in output as an HTML comment
  - html-text: string (raw) - pre-rendered paragraph HTML (may contain <br>, <ul><li>, etc.)
}}
<!--{{data-template}}--><p>{{{html-text}}}</p>
