/**
 * This file is part of the Semantic MediaWiki Extension
 * @see https://semantic-mediawiki.org/
 *
 * @section LICENSE
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA
 *
 * @since 1.8
 *
 * @file
 * @ignore
 *
 * @ingroup SMW
 *
 * @licence GNU GPL v2+
 */

/**
 * ui buttons for QueryUI
 * @ignore
 */
div.smwsort{
	margin-bottom: 5px;
}
.smwsort input, .smwsort a, .smwsort select, .smwsort checkbox{
	margin-left: 5px;
	margin-bottom: 5px;
}

span.smw-remove a img{
	text-decoration: none;
	margin-right: 5px;
	vertical-align: -0.25em;
	margin-left: -30px;

}

div.smwqcsortbox{
	padding-left: 35px;
}

.smwpropdialog input, .smwpropdialog select, .smwcatdialog input,
.smwcatdialog select, .smwmainlabdialog input{
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

/**
 * Query Creator
 * @ignore
 */
div.smwqcnavbar{
	padding-bottom: 5px;
	padding-top: 5px;
}

div.smwqcformatas{
	margin:10px;
	margin-top: 15px;
	margin-bottom: 0px;
}

.smwquisortlabel{
	width: 10em;
	float: left;
}