/* tables for inline queries */

table.smwtable th {
	background-color: #EEEEFF; /* Note: here and below, we use six digits, since some users had problems with the three digit short forms */
	text-align: left;
}

table.smwtable td {
	background-color: #FFFFFF;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	vertical-align: top;
}

table.smwtable tr.smwfooter td {
	font-size: 90%;
	line-height: 1;
	background-color: #EEEEFF;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
	vertical-align: top;
}

table.smwtable {
	background-color: #EEEEFF;
}

/* buttons for sort-arrows */

a.sortheader:hover{
	text-decoration: none;
}

/* "semantic" span classes for Timeline */

div.smwtimeline {
	border: 1px solid #AAAAAA;
	background-color: #F9F9F9;
	/*text-align: center;*/
	/* After hours of debugging and frustration I now can savely say: IE sucks.
	   You can support Semantic MediaWiki developent by not using Internet Explorer. Thanks.
	   (IE centers the Timeline elements, which messes up the whole layout) */
}

span.smwtlevent, span.smwtlband, span.smwtlsize, span.smwtlposition {
	display: none;
	speak: none;
}

span.smwtlcomment {
	font-style: italic;
	padding: 5px;
}

/* factbox */

span.smwfactboxhead {
	font-size: 110%;
	font-weight: bold;
	float: left;
}

span.smwfactboxhead a {
	color: #FFFFFF;
}

div.smwfact {
	clear: both;
	background-color: #F9F9F9;
	padding: 5px;
	margin-top: 1em;
	border: 1px solid #AAAAAA;
	font-size: 95%;
}

div.smwfact td, div.smwfact tr, div.smwfact table{
	background-color: #F9F9F9;
}

table.smwfacttable{
	border-top: 1px dotted #AAAAAA;
	width: 100%;
	clear: both;
}

td.smwrelname, td.smwattname, td.smwspecname, th.smwrelname, th.smwattname, th.smwspecname{
	text-align: right;
	vertical-align: top;
	padding-right: 1em;
}

td.smwsubjects{
	text-align: right;
	vertical-align: top;
	padding-right: 1em;
	width: 65%;
}

td.swmrelright{
	vertical-align: middle;
}

td.smwrels, td.smwatts, td.smwspecs{
	vertical-align: top;
	width: 75%;
}

th.relhead, th.atthead, th.spechead{
	text-align: left;
/* 	border-top: 1px dotted #AAAAAA; */
}

div.smwhr hr{
	background-color: #DDDDDD;
	color: #DDDDDD;
}

/* warning messages */

span.smwwarning{
	color: #888888;
	font-style: italic;
	font-size: 90%;
}

/* search icons */

span.smwsearchicon {
	padding-right: 16px;
	margin-right: 2px;
	color: #888888;
	background: url(images/searchgray_iconsmall.png) center right no-repeat;
}

#bodyContent span.smwsearch a{
	padding-right: 16px;
	margin-right: 2px;
	color: #888888;
	background: url(images/searchgray_iconsmall.png) center right no-repeat;
}

#bodyContent span.smwsearch a:hover{
	text-decoration: none;
	color: #0000FF;
	padding-right: 18px;
	margin-right: 0px;
	background: url(images/search_icon.png) center right no-repeat;
}

span.smwbrowseicon {
	padding-right: 16px;
	margin-right: 2px;
	color: #888888;
	background: url(images/browse_iconsmall.png) center right no-repeat;
}

#bodyContent span.swmfactboxheadbrowse a{
	padding-right: 16px;
	margin-right: 2px;
	color: #000000;
	background: url(images/browse_iconsmall.png) center right no-repeat;
}

#bodyContent span.swmfactboxheadbrowse a:hover{
	text-decoration: none;
	color: #0000FF;
	padding-right: 18px;
	margin-right: 0px;
	background: url(images/browse_icon.png) center right no-repeat;
}

#bodyContent span.smwbrowse a{
	padding-right: 16px;
	margin-right: 2px;
	color: #888888;
	background: url(images/browse_iconsmall.png) center right no-repeat;
}

#bodyContent span.smwbrowse a:hover{
	text-decoration: none;
	color: #0000FF;
	padding-right: 18px;
	margin-right: 0px;
	background: url(images/browse_icon.png) center right no-repeat;
}

/* Do not gray browse link in factbox header */
#bodyContent span.smwfactboxhead span.smwbrowse a{
	padding-right: 16px;
	margin-right: 2px;
	color: black;
	background: url(images/browse_iconsmall.png) center right no-repeat;
}

/* Do not gray browse link in factbox header */
#bodyContent span.smwfactboxhead span.smwbrowse a:hover{
	text-decoration: none;
	color: #0000FF;
	padding-right: 18px;
	margin-right: 0px;
	background: url(images/browse_icon.png) center right no-repeat;
}

#bodyContent span.smwmap a{
	padding-right: 20px;
	color: #888888;
	background: url(images/world.png) center right no-repeat;
}

#bodyContent span.smwmap a:hover{
	padding-right: 20px;
	color: #0000FF;
	background: url(images/world.png) center right no-repeat;
}

/* RDF icons */

#bodyContent span.rdflink{
	float: right;
}

#bodyContent span.rdflink a{
	padding-right: 20px;
	color: #888888;
	background: url(images/rdf_flyer.18.gif) center right no-repeat;

}

#bodyContent span.rdflink a:hover{
	text-decoration: none;
	color: #0000FF;
	padding-right: 20px;
	margin-right: 0px;
	background: url(images/rdf_flyer.18.gif) center right no-repeat;
}

/* tooltips */

div.smwtt { /* style for content of the bubble */
	color: #000000;
}

span.smwttpersist span.smwttcontent{ /* show persistent tooltips for non-JavaScript clients */
	color: #888888;
	font-style: italic;
	font-size: 90%;
}

span.smwttinline span.smwttcontent{ /* hide inline tooltips for non-JavaScript clients */
	display: none;
}

span.smwtticon{ /* style for image anchor for persistent tooltips */
	display: none;
}

span.smwttactivepersist { /* colored anchors? */
	cursor: help;
	color: #0000C8;
}

span.smwttactiveinline { /* colored anchors */
	color: #BB7700;
	text-decoration: none;
}

span.smwbuiltin, span.smwttactiveinline span.smwbuiltin { /* highlighting for builtin elements */
	font-style: italic;
}

img.smwttimg { /* images for tooltip icons */
	padding-right: 5px;
	padding-left: 4px;
}