/*!
 * This file is part of the Semantic MediaWiki Extension
 * @see https://semantic-mediawiki.org/
 *
 * @section LICENSE
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA
 *
 * @see https://www.w3schools.com/howto/howto_js_vertical_tabs.asp
 *
 * @since 3.1
 *
 * @file
 * @ingroup SMW
 *
 * @licence GNU GPL v2+
 * @author mwjames
 */

.tippy-header {
    padding: .5em .8em .3em .8em;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(.3em - 1px);
    border-top-right-radius: calc(.3em - 1px);
    text-align: left;
}

.tippy-bottom {
    padding: .5em .8em .5em .8em;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
    background-color: #fff;
    border-top: 1px solid #ebebeb;
    border-bottom-left-radius: calc(.3em - 1px);
    border-bottom-right-radius: calc(.3em - 1px);
    text-align: left;
}

.tippy-content-container {
    padding: .3em .8em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    text-align: initial;
    word-break: break-word;
   /* max-width: 260px; */
   font-size: 14px;
   max-height: 250px;
   overflow-y: auto;
}

.tippy-content-container ul {
    padding-inline-start: 10px;
    margin: 0.3em 0.3em 0.3em 0.5em;
}

.tippy-content-container code {
    word-break: break-all;
}

.tippy-content-overlay {
    height: 40px;
    width: 260px;
    margin-top: 10px;
}

.tippy-tooltip.light-border-theme, .tippy-tooltip.light-theme {
    padding: 0;
}

.tippy-tooltip.light-border-theme[x-placement^=bottom] .tippy-arrow,
.tippy-tooltip.light-theme[x-placement^=bottom] .tippy-arrow,
.tippy-tooltip.light-border-theme[x-placement^=bottom] .tippy-arrow:after,
.tippy-tooltip.light-theme[x-placement^=bottom] .tippy-arrow:after {
     border-bottom-color: #f7f7f7
}

.tippy-cancel {
    width: auto;
    height: auto;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    margin-left: 10px;
}

.tippy-cancel:after {
    content: '×';
}

.tippy-cancel:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}

.tippy-warning-circle {
    float: right;
    height: 10px;
    width: 10px;
    background-color: #ffae19;
    display: inline-block;
    margin-top: 3.5px;
    margin-left: 15px;
    border-radius: 50%;
}

.tippy-error-circle {
    float: right;
    height: 10px;
    width: 10px;
    background-color: #e04006;
    display: inline-block;
    margin-top: 3.5px;
    margin-left: 15px;
    border-radius: 50%;
}

.tippy-header.wide-popup {
    padding: .5em .6em .5em .8em;
}

.tippy-top.wide-popup {
    padding: .5em .8em .0em .8em;
    font-size: 12px;
}

.tippy-content-container.wide-popup {
    padding: .5em .8em;
    margin-bottom: 0px;
    font-size: 14px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}

.tippy-content-container.wide-popup ul {
    margin: 0em 0.3em 0.3em 0.5em;
}

.tippy-content-container.wide-popup ul {
    font-size: 12px;
}

.tippy-bottom.wide-popup {
     padding: .5em .8em .95em .8em;
}
