<article class="smw-factbox">
	{{#data-header}}
	<header class="smw-factbox-header">
		<div class="smw-factbox-title">{{{html-title}}}</div>
		<div class="smw-factbox-actions">{{{html-actions}}}</div>
	</header>
	{{/data-header}}
	{{{html-factbox}}}
	{{#data-pagination}}
	<div class="smw-factbox-pagination">
		{{{html-pagination-prev}}}
		<div class="smw-factbox-pagination-status">{{{footer-content}}}</div>
		{{{html-pagination-next}}}
	</div>
	{{/data-pagination}}
</article>