{{!
  Partials for Factbox template

  Required data:
  - html-name: string - HTML of the property name
  - html-values: string - HTML of the property values
}}
<div class="smw-factbox-property">
	<div class="smw-factbox-property-name">{{{html-name}}}</div>
	<div class="smw-factbox-property-values">{{{html-values}}}</div>
</div>