<article class="smw-factbox{{#class}} {{.}}{{/class}}">
	{{#data-header}}
	<header class="smw-factbox-header">
		<div class="smw-factbox-title" role="heading" aria-level="2">{{{html-title}}}</div>
		<div class="smw-factbox-actions">{{{html-actions}}}</div>
	</header>
	{{/data-header}}
	{{#array-sections}}{{>FactboxSection}}{{/array-sections}}
	{{#data-pagination}}
	<div class="smw-factbox-pagination">
		{{{html-pagination-prev}}}
		<div class="smw-factbox-pagination-status">{{{footer-content}}}</div>
		{{{html-pagination-next}}}
	</div>
	{{/data-pagination}}
</article>