<li>
 <div class="filter-item">
  <span class="filter-item-link">
   <button class="button-link" name="{{name}}" value="{{value}}" onchange="this.form.submit()" form="search-input-form">{{label}}</button>
  </span>
  <span class="filter-item-count">{{count}}</span>
 </div>
</li>