<li>
 <div class="filter-item" style="color:#888">
  <span class="filter-item-label">
   <span>{{label}}</span><span class="filter-item-unlink">
    <button class="button-link" name="{{name}}" value="{{value}}" onchange="this.form.submit()" form="search-input-form">✖</button>
   </span>
  </span>
  <span class="filter-item-count">{{count}}</span>
 </div>
 <input type="hidden" name="{{hidden-name}}" form="search-input-form" value="{{hidden-value}}">
</li>