<div class="input-group">
	<div class="input-group-label">
		<div class="label-field" title="{{label}}">{{label}}</div>
	</div>
	<div class="input-group-input">
		<input type="{{type}}" name="{{name}}" value="{{value}}" form="search-input-form" class="search-input {{class}}" data-property="{{property}}" autocomplete="off" placeholder="{{placeholder}}">
	</div>
</div>