/*!
 * This file is part of the Semantic MediaWiki Extension
 * @see https://www.semantic-mediawiki.org/
 *
 * @section LICENSE
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA
 *
 * @since 3.0
 *
 * @file
 * @ingroup SMW
 *
 * @licence GNU GPL v2+
 * @author mwjames
 */

.smw-table {
	display: table;
	width: 100%;
}

.smw-table-row {
	display: table-row;
}

.smw-table-header {
	background-color: #eee;
	display: table-header-group;
}

.smw-table-cell, .smw-table-head {
	border: 1px solid #999;
	display: table-cell;
	padding: 3px 10px;
}

.smw-table-header {
	background-color: #eee;
	display: table-header-group;
	font-weight: bold;
}

.smw-table-footer {
	background-color: #eee;
	display: table-footer-group;
	font-weight: bold;
}

.smw-table-body {
	display: table-row-group;
}

.smw-table-sort-asc:after {
	content: '▲';
	float: right;
	color: #999;
	font-size: 10px;
	padding-top:3px;
}

.smw-table-sort-desc:after {
	content: '▼';
	float: right;
	color: #999;
	font-size: 10px;
	padding-top:3px;
}

/**
 * Responsive settings
 */
@media screen and (max-width: 800px) {
	.smw-table-cell {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.smw-table-header .smw-table-cell {
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100% !important;
		justify-content: space-between;
		padding: 3px 0px 3px 0px;
		margin-left: 10px;
	}

	.smw-table-row, .smw-table-header {
		flex: 1 1 150px;
	}

	.smw-table-sort-asc:after, .smw-table-sort-desc:after {
		clear: both;
		padding-left: 10px;
		margin-right: 20px;
	}
}
