/*!
 * This file is part of the Semantic MediaWiki Extension
 * @see https://www.semantic-mediawiki.org/
 *
 * @section LICENSE
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA
 *
 * @since 3.0
 *
 * @file
 * @ingroup SMW
 *
 * @licence GNU GPL v2+
 * @author mwjames
 */

/**
 * .skin-vector specific styles
 */

.skin-vector input#smw-property-input.autocomplete-suggestions {
	height: 1.15em;
	padding: 2px 2px;
}

.skin-chameleon .smw-page-indicator {
	padding: 0.35rem 0.85rem;
	line-height: 1.55;
}

/**
 * .skin-chameleon specific styles
 */
.skin-chameleon input#smw-property-input.autocomplete-suggestions {
	height: 30px;
	padding: 2px 2px;
}

.skin-chameleon .autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.9em;
}

.skin-chameleon .smwfact td {
	padding: 5px;
}

.skin-chameleon .smw-modal-content {
	line-height: 1.8;
}

.skin-chameleon .smw-tabs section pre {
	margin-top: 10px;
}

.smw-ui-input-filter input {
	padding: .20em .55em .20em .55em !important;
}

.skin-chameleon .smw-ui-input-filter input {
	padding: .35em .55em .35em .55em !important;
}

.skin-chameleon .smw-callout ul,
.skin-chameleon .smw-callout ol {
	margin-bottom: 0;
}

.ns-112.skin-chameleon.action-submit .error ul {
    margin: 0 0 0 0;
    font-size: 1rem;
}

.skin-chameleon fieldset legend {
	width:unset;
}

/**
 * .skin-foreground specific styles
 */
.skin-foreground input#smw-property-input.autocomplete-suggestions {
	height: 32px;
	padding: 2px 0px 0px 8px;
}

.skin-foreground .autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.9em;
}
